.content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.content-box {
  width: 100px;
  padding: 16px;
  border: 1px;
  border-radius: 4px;
  margin: 10px;
  background-color: #a9a9a96e;
  cursor: pointer;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
  color: blue;
}

a {
  color: #000;
  text-decoration: none;
}
