.container {
  margin: auto;
  text-align: center;
  max-width: 80%;
}

.header {
    display: -webkit-box;
    text-align: left;
    border-bottom: 1px solid #000;
}

.header img{
    height: 50px;
    padding: 10px;
}

.title {
  font-size: 20px;
  margin-top: 50px;
  text-decoration: underline;
}
